@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/_placeholders";

@import "base/typography";
@import "base/reset";
// sections
@import "layout/navbar";
@import "layout/hero";




body {
  @extend %container ;
 background: $primary-color;
 font-family: $global-font;
  color: $f-color;
}
