%flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
%container {
  width: 80%;
  margin: auto;
}

%border {
  border: 2px solid red;
}
// %sec-layout {
//   min-height: 100vh;
//   padding: $padding-sec;
//   @extend %flex-center;
//   flex-direction: column;
// }
%sec-layout {
  min-height: 100vh;
  padding: $padding-sec;
  @extend %flex;
  flex-direction: column;
  justify-content: flex-start;
}
%section-header {
  @extend %flex-center;
  flex-direction: column;
  line-height: 50px;
  margin-bottom: 50px;
  text-align: center;
  h2 {
    font-size: 50px;
    font-weight: bold;
    @include gradientColor();
  }
  h3 {
    font-size: 20px;
    color: $f-sec-color;
    font-weight: 400;
    max-width: 700px;
    line-height: 36px;
    text-align: center;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    margin-bottom: 60px;
  }
}
