@import "../abstracts/mixins";

$m-top: 10px;
$m-bottom: 10px;
$primary-color: #050709;
$sec-color: #8750f7;
$f-color: #ffff;
$f-sec-color: #dcdbdd;
$m-y-sec: 30px;
$global-font: "Poppins", sans-serif;
$padding-sec: 60px 5%;

///////////

