@import "../abstracts/mixins";

.heroSection {

  @extend %flex;

  flex-wrap: wrap;
  padding: $padding-sec;
  margin: $m-y-sec 0;
  position: relative;

  background: radial-gradient(
    circle at 85% 30%,
    rgba($sec-color, 0.15),
    transparent 80%
  );
  // Content => Left
  &Content {

    flex: 0 0 50%;

    h2 {
      margin: $m-top 0;
    }

    h1 {
      font-size: 60px;
      font-weight: bold;
      @include gradientColor();
    }

    p {
      margin: $m-top 0;
      font-size: 22px;
      color: $f-sec-color;
      width: 85%;
      line-height: 28px;

    }
    .i-social {
      @extend %flex;
      justify-content: flex-start;
      gap: 15px;
      margin-top: $m-top;

      .fa-github {
        @extend %icon-box;
      }
      .fa-linkedin-in {
        @extend %icon-box;
      }
    }
  }
  // Img => Right
  &Img {

    flex: 0 0 40%;
    @extend %flex-center;

    .polygon-border {
      width: 100%;
      max-width: 380px;
      aspect-ratio: 1;
      background: $sec-color;

      filter: drop-shadow(0 0 20px rgba($sec-color, 0.4));

      clip-path: polygon(
        100% 50%,
        90.45% 79.39%,
        65.45% 97.55%,
        34.55% 97.55%,
        9.55% 79.39%,
        0% 50%,
        9.55% 20.61%,
        34.55% 2.45%,
        65.45% 2.45%,
        90.45% 20.61%,
        100% 50%
      );

      .polygon {
        width: 98%;
        height: 98%;
        clip-path: inherit;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top center;
        }
      }
    }
  }
  //Stats Bar => Bottom
  %numbers {
    font-size: 40px;
    font-weight: bold;
  }
  div.statsBar {
    padding: 20px 0;
    margin-top: $m-y-sec;

    > div {
      @extend %flex-center;
      justify-content: flex-start;
      gap: 15px;
      span:first-child {
        @extend %numbers;
      }
      span:last-child {
        display: inline-block;
        max-width: 100px;
        font-size: 16px;
        line-height: 1.2;
        color:$f-sec-color;
      }
    }
  }
}
