* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  cursor: pointer;
}
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}


button {
  background: $sec-color;
  border: none;
  padding: 12px 30px;
  border-radius: 50px;
  color: $f-color;
  font-weight: bold;
  cursor: pointer;
  @extend %flex;
  gap: 10px;
  transition: 0.3s;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba($sec-color, 0.3);
  }
}
%icon-box {
  border: 1px solid $sec-color;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  @extend %flex-center;
  color: $sec-color;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background: $sec-color;
    color: $f-color;
  }
}
